*{
    padding: 0px; margin: 0px; box-sizing: border-box;
}
body{
    border-radius: 5px; border: 1px solid #999999; background: #f2f2f2; text-align: center; padding-left: 20px; padding-right: 20px; margin: 20px;
}
#btn{
    padding-left: 12px; padding-right: 12px; font-size: 1rem; margin-top: 8px; margin-bottom: 8px;
}
#btn:hover{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    
}